legacy-peer-deps=true
node-linker=hoisted
prefer-offline=true
cache-min=3600
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips 